In [1]:
import pandas as pd
import numpy as np

In [2]:
g7_pop = pd.Series([35.467, 63.951, 80.940, 60.665, 127.061, 64.511, 318.523])
g7_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
dtype: float64

In [3]:
g7_pop.dtype

dtype('float64')

In [4]:
g7_pop.values

array([ 35.467,  63.951,  80.94 ,  60.665, 127.061,  64.511, 318.523])

In [5]:
type(g7_pop.values)

numpy.ndarray

In [6]:
g7_pop[0]

35.467

In [7]:
g7_pop[1]

63.951

In [8]:
g7_pop.index

RangeIndex(start=0, stop=7, step=1)

In [9]:
g7_pop.index = [
    'Canada',
    'France',
    'Germany',
    'Italy',
    'Japan',
    'United Kingdom',
    'United States',
]

In [10]:
g7_pop[1]

C:\Users\DELL\AppData\Local\Temp\ipykernel_19752\297810826.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  g7_pop[1]

63.951

In [11]:
g7_pop

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
dtype: float64

In [12]:
g7_pop[0]

C:\Users\DELL\AppData\Local\Temp\ipykernel_19752\2572533557.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  g7_pop[0]

35.467

In [13]:
pd.Series({
    'Canada': 35.467,
    'France': 63.951,
    'Germany': 80.94,
    'Italy': 60.665,
    'Japan': 127.061,
    'United Kingdom': 64.511,
    'United States': 318.523
}, name='G7 Population in millions')

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [14]:
pd.Series(
    [35.467, 63.951, 80.94, 60.665, 127.061, 64.511, 318.523],
    index=['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom',
       'United States'],
    name='G7 Population in millions')

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [15]:
pd.Series(g7_pop, index=['France', 'Germany', 'Italy', 'Spain'])

France     63.951
Germany    80.940
Italy      60.665
Spain         NaN
dtype: float64

In [16]:
g7_pop

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
dtype: float64

In [17]:
g7_pop["Canada"]

35.467

In [18]:
g7_pop.iloc[0]

35.467

In [19]:
g7_pop[0]

C:\Users\DELL\AppData\Local\Temp\ipykernel_19752\2572533557.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  g7_pop[0]

35.467

In [20]:
g7_pop.iloc[-1]

318.523

In [21]:
g7_pop["Canada"]

35.467

In [22]:
g7_pop[["Italy","France"]]

Italy     60.665
France    63.951
dtype: float64

In [23]:
g7_pop.iloc[2]

80.94

In [24]:
g7_pop["Canada":"Italy"]

Canada     35.467
France     63.951
Germany    80.940
Italy      60.665
dtype: float64

In [25]:
g7_pop[0:3]

Canada     35.467
France     63.951
Germany    80.940
dtype: float64

In [26]:
g7_pop[g7_pop > 70]

Germany           80.940
Japan            127.061
United States    318.523
dtype: float64

In [27]:
g7_pop > 70

Canada            False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United States      True
dtype: bool

In [28]:
g7_pop.mean()

107.30257142857144

In [29]:
g7_pop.std()

97.24996987121581

In [30]:
g7_pop * 1000000

Canada             35467000.0
France             63951000.0
Germany            80940000.0
Italy              60665000.0
Japan             127061000.0
United Kingdom     64511000.0
United States     318523000.0
dtype: float64

In [31]:
g7_pop * 1_000_000

Canada             35467000.0
France             63951000.0
Germany            80940000.0
Italy              60665000.0
Japan             127061000.0
United Kingdom     64511000.0
United States     318523000.0
dtype: float64

In [32]:
np.log(g7_pop)

Canada            3.568603
France            4.158117
Germany           4.393708
Italy             4.105367
Japan             4.844667
United Kingdom    4.166836
United States     5.763695
dtype: float64

In [33]:
g7_pop["France":"Italy"].mean()

68.51866666666666

In [34]:
g7_pop[g7_pop>80]

Germany           80.940
Japan            127.061
United States    318.523
dtype: float64

In [35]:
g7_pop[(g7_pop>80) | (g7_pop<40)]

Canada            35.467
Germany           80.940
Japan            127.061
United States    318.523
dtype: float64

In [36]:
g7_pop["Canada"] = 40.5
g7_pop

Canada             40.500
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
dtype: float64

In [37]:
g7_pop.iloc[-1] = 500
g7_pop

Canada             40.500
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     500.000
dtype: float64

In [38]:
g7_pop

Canada             40.500
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     500.000
dtype: float64

In [39]:
g7_pop[g7_pop<70] = 99.99

In [40]:
g7_pop

Canada             99.990
France             99.990
Germany            80.940
Italy              99.990
Japan             127.061
United Kingdom     99.990
United States     500.000
dtype: float64

In [41]:
"""Exercise
Create an empty pandas Series
"""
pd.Series()

Series([], dtype: object)

In [42]:
#Given the X python list convert it to an Y pandas Series
X = [1,2,3,4,5,6,7,8]
Y = pd.Series(X)

In [43]:
Y

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

In [44]:
type(X)

list

In [45]:
type(Y)

pandas.core.series.Series

In [46]:
#Given the x pandas Series, name it 'My letters'
x = pd.Series(["X","Y","Z"])
x.name = "My letters"

In [47]:
x

0    X
1    Y
2    Z
Name: My letters, dtype: object

In [48]:
#Given the x pandas Series, show its values
x.values

array(['X', 'Y', 'Z'], dtype=object)

In [49]:
#Assign index names to the given x pandas Series
pd.Series(x, index = ["Jali","Beta","Alpha"])#WRONG

Jali     NaN
Beta     NaN
Alpha    NaN
Name: My letters, dtype: object

In [50]:
#Assign index names to the given x pandas Series
pd.Series(["X","Y","Z"],
         index = ["Jali","Beta","Alpha"])

Jali     X
Beta     Y
Alpha    Z
dtype: object

In [51]:
x
index_names = ["Jali","Beta","Alpha"]

x.index = index_names
x

Jali     X
Beta     Y
Alpha    Z
Name: My letters, dtype: object

In [52]:
#Given the x pandas Series, show its first element
x.iloc[0]

'X'

In [53]:
x

Jali     X
Beta     Y
Alpha    Z
Name: My letters, dtype: object

In [54]:
x["Jali"]

'X'

In [55]:
#Given the x pandas Series, show its last element
x.iloc[-1]

'Z'

In [56]:
#Given the x pandas Series, show all middle elements
x.iloc[1:-1]

Beta    Y
Name: My letters, dtype: object

In [57]:
#Given the x pandas Series, show the elements in reverse position
x.iloc[::-1]

Alpha    Z
Beta     Y
Jali     X
Name: My letters, dtype: object

In [58]:
#Given the X pandas Series, show the first and last elements
x.iloc[0], x.iloc[-1] #or x[[0,-1]]

('X', 'Z')

In [59]:
x.iloc[[0,-1]]

Jali     X
Alpha    Z
Name: My letters, dtype: object

In [60]:
#Convert the given integer pandas Series to float
C = pd.Series([1,2,3,4,5], index=['first','second','third','forth','fifth'])
pd.Series(C, dtype = np.float64)

first     1.0
second    2.0
third     3.0
forth     4.0
fifth     5.0
dtype: float64

In [61]:
print(pd.__version__)

2.2.2

In [62]:
print(np.__version__)

1.26.4

In [63]:
#Reverse the given pandas Series (first element becomes last)
C[::-1]

fifth     5
forth     4
third     3
second    2
first     1
dtype: int64

In [64]:
#Order (sort) the given pandas Series
C.sort_values()

first     1
second    2
third     3
forth     4
fifth     5
dtype: int64

In [65]:
#Given the C pandas Series, set the fifth element equal to 10
C.iloc[4] = 10
C

first      1
second     2
third      3
forth      4
fifth     10
dtype: int64

In [66]:
#Given the C pandas Series, change all the middle elements to 0
C[1:-1] = 0
C

first      1
second     0
third      0
forth      0
fifth     10
dtype: int64

In [67]:
#Given the D pandas Series, make a mask showing negative elements
D = pd.Series([1,2,3,4,5,6,-1,-2,-6,-9,0,6,3], index = ['A','B','C','D','E','F','G','H','I','J','K','L','M'])
mask = D<0
D[mask]

G   -1
H   -2
I   -6
J   -9
dtype: int64

In [68]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = X <= 0
mask

0     True
1    False
2     True
3     True
4    False
5    False
6     True
7     True
8     True
9    False
dtype: bool

In [69]:
#Given the D pandas Series, get numbers higher than 5
D[D > 5]

F    6
L    6
dtype: int64

In [70]:
#Given the D pandas Series, get numbers higher than the elements mean
D[D > D.mean()]

A    1
B    2
C    3
D    4
E    5
F    6
L    6
M    3
dtype: int64

In [71]:
#Given the D pandas Series, get numbers equal to 2 or 10
D[(D == 2) | (D == 10)]

B    2
dtype: int64

In [72]:
D

A    1
B    2
C    3
D    4
E    5
F    6
G   -1
H   -2
I   -6
J   -9
K    0
L    6
M    3
dtype: int64

In [73]:
#Given the D pandas Series, return True if none of its elements is zero
D.any()

True

In [74]:
#Given the D pandas Series, return True if any of its elements is zero
D.all()

False

In [75]:
#Given the D pandas Series, show the sum of its elements
D.sum()

12

In [76]:
#Given the D pandas Series, show the mean value of its elements
D.mean()

0.9230769230769231

In [77]:
#Given the D pandas Series, show the max value of its elements
D.max()

6